<button
  *ngIf="
    this.authService.isUserInRole('owner') ||
    this.authService.isUserInRole('admin')
  "
  mat-raised-button
  (click)="openDialog()"
  class="mb-5"
>
  Create group
</button>

<h1 class="">Groups</h1>

<div class="content-container overflow-y-scroll">
  <mat-card
    [routerLink]="['/groups', group.id]"
    class="h-[165px] mb-3"
    [ngStyle]="{
      'background-color': group.hexColor ? group.hexColor : '#ECECEC'
    }"
    *ngFor="let group of groups"
    [title]="group.name"
  >
    <mat-card-title>{{
      group.name
        ? group.name.charAt(0).toUpperCase() + group.name.slice(1)
        : "No Name"
    }}</mat-card-title>

    <mat-card-subtitle class=""
      >Educator: {{ group.educatriceName }}</mat-card-subtitle
    >
    <mat-card-content align="start">
      <div
        *ngIf="group.enfants.length > 0; else noEnfants"
        class="flex mb-5 -space-x-3.5"
      >
        <img
       [matTooltip]="item.nom"
          *ngFor="let item of group.enfants"
          class="w-20 h-20 object-cover rounded-full"
          [src]="
            item.image
              ? ('https://localhost:44356/api/v1/Photos/sm/' + item.image | picture | async)
              : 'https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg'
          "
          alt=""
        />
      </div>

      <ng-template #noEnfants> <h3>No child has arrived</h3> </ng-template>
    </mat-card-content>
  </mat-card>
</div>
