.list-hide {
    display: none;
  }
  
  .list-show {
    display: block;
  }
  ::ng-deep .mat-vertical-content {
    padding: 24px 24px 24px 24px !important;
  }
  
  ::ng-deep .mat-step-text-label{
    display: flex;
    align-items: center;
    row-gap: 8px;
  }
  
  mat-icon{
    margin-left:10px
  }

  
::ng-deep .list-show{


    display: flex !important;
    align-items: center !important;

}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}