<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!-- SELECT CHILDREN -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel
        >Select children <mat-icon>child_care</mat-icon></ng-template
      >

      <mat-form-field appearance="fill" class="min-w-[300px]">
        <mat-label>Children</mat-label>
        <mat-select
          formControlName="selectedChildrenControl"
          multiple
          matInput
          required
          (selectionChange)="onSelectChanges2($event)"
        >
          <mat-select-trigger>
            {{
              this.firstFormGroup.get("selectedChildrenControl")?.value
                ? this.firstFormGroup.get("selectedChildrenControl")?.value
                    .length
                : ""
            }}
            child(s) selected
          </mat-select-trigger>

          <mat-optgroup
            *ngFor="let group of groupedChildren | keyvalue"
            class="p-1"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <h3 class="m-0" color="primary">
                  {{ group.key != "null" ? group.key : "No group" }}
                </h3>
                <button
                  class="pl-0"
                  mat-button
                  (click)="expandDocumentTypes(group.key)"
                >
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>
              <mat-checkbox
                [checked]="isChecked(group.key)"
                (change)="toggleSelection($event, group)"
              ></mat-checkbox>
            </div>

            <mat-option
              *ngFor="let enfant of group.value"
              [value]="enfant"
              [ngClass]="
                isExpandCategory.get(group.key) ? 'list-show' : 'list-hide'
              "
              (onSelectionChange)="onSelectChanges($event)"
            >
              {{ enfant.nom }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </form>
  </mat-step>

  <!-- RATING -->
  <mat-step>
    <ng-template matStepLabel
      >Humeur ratings <mat-icon>sentiment_satisfied</mat-icon></ng-template
    >

    <div
      *ngFor="
        let enfant_rating of this.secondFormGroup.get('ratings')?.value;
        let i = index
      "
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start">

          <img
          class="w-12 h-12 rounded-full object-cover mr-2"
          [src]="
          enfant_rating.image
              ? (envUrls.urlAdressPhoto+enfant_rating?.image
                | picture
                | async)
              : 'https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg'
          "
          alt="image"
        />

         
          {{ enfant_rating.nom }} :
        </div>

        <!-- {{ enfant_rating.Humeur_Rating }} -->
        <app-star-rating
          [isAllowedEdit]="true"
          [index]="i"
          (ratingUpdated)="onHumeurRatingChanged($event)"
          [rating]="enfant_rating.Humeur_Rating"
        ></app-star-rating>
      </div>
    </div>

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <!-- manger RATING -->
  <mat-step>
    <ng-template matStepLabel
      >Eat ratings <mat-icon>restaurant_menu</mat-icon></ng-template
    >
    
    <div
      *ngFor="
        let enfant_rating of this.secondFormGroup.get('ratings')?.value;
        let i = index
      "
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start">
          <img
          class="w-8 h-8 rounded-full mr-2"
          [src]="
          enfant_rating.image
              ? ('https://garderie-management-api.herokuapp.com/api/v1/Photos/sm/' +
              enfant_rating.image
                | picture
                | async)
              : 'https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg'
          "
          alt="image"
        />
          {{ enfant_rating.nom }} :
        </div>
        <app-star-rating
          [isAllowedEdit]="true"
          [index]="i"
          (ratingUpdated)="onMangerRatingChanged($event)"
          [rating]="enfant_rating.Manger_Rating"
        ></app-star-rating>
      </div>
    </div>

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <!-- RATING -->
  <mat-step>
    <ng-template matStepLabel
      >Participation ratings <mat-icon>directions_run</mat-icon></ng-template
    >

    <div
      *ngFor="
        let enfant_rating of this.secondFormGroup.get('ratings')?.value;
        let i = index
      "
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start">
          <img
          class="w-8 h-8 rounded-full mr-2"
          [src]="
          enfant_rating.image
              ? ('https://garderie-management-api.herokuapp.com/api/v1/Photos/sm/' +
              enfant_rating.image
                | picture
                | async)
              : 'https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg'
          "
          alt="image"
        />
          {{ enfant_rating.nom }} :
        </div>
        <app-star-rating
          [isAllowedEdit]="true"
          [index]="i"
          (ratingUpdated)="onParticipationRatingChanged($event)"
          [rating]="enfant_rating.Participation_Rating"
        ></app-star-rating>
      </div>
    </div>

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <!-- RATING -->
  <mat-step>
    <ng-template matStepLabel
      >Toilet ratings <mat-icon>baby_changing_station</mat-icon></ng-template
    >

    <div
      *ngFor="
        let enfant_rating of this.secondFormGroup.get('ratings')?.value;
        let i = index
      "
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start">
          <img
          class="w-8 h-8 rounded-full mr-2"
          [src]="
          enfant_rating.image
              ? ('https://garderie-management-api.herokuapp.com/api/v1/Photos/sm/' +
              enfant_rating.image
                | picture
                | async)
              : 'https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg'
          "
          alt="image"
        />
          {{ enfant_rating.nom }} :
        </div>
        <app-star-rating
          [isAllowedEdit]="true"
          [index]="i"
          (ratingUpdated)="onToiletteRatingChanged($event)"
          [rating]="enfant_rating.Toilette_Rating"
        ></app-star-rating>
      </div>
    </div>

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <!-- ACTIVITY MESSAGE -->
  <form [formGroup]="secondFormGroup">
    <mat-step [stepControl]="activiteFormGroup">
      <ng-template matStepLabel
        >Activity message<mat-icon></mat-icon
      ></ng-template>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Activités de la journée</mat-label>
        <textarea
          formControlName="activite_message"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="4"
          cdkAutosizeMaxRows="5"
          required
        ></textarea>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <!-- MANGER MESSAGE -->
    <mat-step [stepControl]="mangerFormGroup">
      <ng-template matStepLabel
        >Eat message<mat-icon></mat-icon
      ></ng-template>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Activités de la journée</mat-label>
        <textarea
          formControlName="manger_message"
          required
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="4"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <!-- FINAL STEP -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        <button mat-dialog-close type="button" (click)="onSubmit()">
          SUBMIT
        </button>
      </div>
    </mat-step>
  </form>
</mat-stepper>
