.example-tab-icon {
  margin-right: 8px;
}



.example-full-width {
  width: 100%;
}

.icon-display {
  transform: scale(1);
}

.button{
  position: absolute;
  bottom: -10px;
  right: -10px;
}

input[type="file"] {
  display: none;
}