<header
  class="p-2 flex flex-col justify-center items-center gap-3 rounded-t-md"
  [ngStyle]="{
    'background-color': child_info.hexColor ? child_info.hexColor : ''
  }"
>
  <!--bg-green-400  -->

  <div class="relative">
    <!-- <img [src]="child_info.image" class="w-32 rounded-full " alt="child image" /> -->
    <img
      *ngIf="!child_info?.image; else hasPhotoCouverture"
      class="w-32 h-32 rounded-full object-cover"
      [src]="
        'https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg'
      "
      alt="image"
    />

    <ng-template #hasPhotoCouverture>
      <img
        class="w-32 h-32 rounded-full object-cover"
        [src]="
          'https://localhost:44356/api/v1/Photos/sm/' + child_info?.image
            | picture
            | async
        "
        alt="image"
      />
    </ng-template>

    <input
      #fileuploadprogress
      (change)="onFileChange($event)"
      (click)="setNull()"
      hidden
      type="file"
      name="image"
      accept="image/*"
    />
    <button
      (click)="fileuploadprogress.click()"
      class="button"
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>add_a_photo</mat-icon>
    </button>
  </div>
  <p class="text-4xl">{{ child_info.nom }}</p>
</header>

<mat-tab-group mat-stretch-tabs>
  <!-- CALENDAR -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">calendar_month</mat-icon>
      Calendar
    </ng-template>

    <ng-template matTabContent>
      <app-child-calendar-tab
        *ngIf="child_info.nom"
        [child_info]="child_info"
      ></app-child-calendar-tab>
    </ng-template>
  </mat-tab>

  <!-- INFORMATION -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">folder_shared</mat-icon>
      Information
    </ng-template>

    <!-- INFORMATION CONTENT -->
    <ng-template matTabContent>
      <app-child-information-tab
        *ngIf="child_info.nom"
        [child_info]="child_info"
      ></app-child-information-tab>
    </ng-template>
  </mat-tab>

  <!-- GUARDIANS -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">escalator_warning</mat-icon>
      Guardians
    </ng-template>

    <ng-template matTabContent>
      <app-child-guardians-tab
        *ngIf="child_info.nom"
        [child_info]="child_info"
      ></app-child-guardians-tab>
    </ng-template>
  </mat-tab>
  <!-- PHOTOS -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">image</mat-icon>
      Photos
    </ng-template>
    <ng-template matTabContent>
      <app-child-photos-tab *ngIf="child_info.nom" [child_info]="child_info">
      </app-child-photos-tab>
    </ng-template>
  </mat-tab>
</mat-tab-group>
