<div class="example-form w-[70%] mx-auto  p-8">
  <!-- GUARDIANS CONTENT -->
  <div class="example-button-container">
    <h1 class="m-0">Guardians</h1>

    <button
    *ngIf="this.authService.isUserInRole('owner') || this.authService.isUserInRole('admin')"
      (click)="openDialog()"
      mat-raised-button
      color="primary"
      aria-label="Example icon button with a delete icon"
    >
      Add guardian
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-list role="list" class="">
    <mat-list-item *ngFor="let guardian of childsGuardians" class="mt-3">
      
      
 
        
       <h3 class="m-0"> <strong>{{ guardian.name }}</strong> {{guardian.relation ? '('+ guardian.relation + ')' : '' }}</h3>
  

      <ul class="flex items-center gap-x-5">
        <li *ngIf="guardian.emergencyContact"> <mat-icon class="red-icon" matTooltip="Contact for emergency">call</mat-icon></li>
        <li *ngIf="guardian.authorizePickup" > <mat-icon class="green-icon" matTooltip="Is authorize to pick up the child">escalator_warning</mat-icon></li>
        <li *ngIf="guardian.hasAccount;else noAccount"> <mat-icon matTooltip="Is a user of the app">smartphone</mat-icon></li>
        <ng-template #noAccount>
        <li > <mat-icon matTooltip="Has an account">mobile_off</mat-icon></li>

        </ng-template>
        <li *ngIf="this.authService.isUserInRole('owner') || this.authService.isUserInRole('admin')" (click)="editChildTutorRelation(guardian)" class="cursor-pointer"> <mat-icon  matTooltip="Edit the relation between child and guardian">edit</mat-icon></li>
        <li *ngIf="this.authService.isUserInRole('owner') || this.authService.isUserInRole('admin')" class="cursor-pointer" class="cursor-pointer"> <mat-icon matTooltip="Delete the relation between child and guardian">delete</mat-icon></li>
      </ul>
      
    </mat-list-item>
  </mat-list>
</div>
