.mat-list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.content-container{
  height: calc(100vh - (460px));
  overflow-y: auto;
}

.example-button-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red-icon{
  color: #dc143c;
}



.green-icon{
  color: green  ;
}
