<!-- HEADER -->
<h2 mat-dialog-title>Add guardian for {{ this.data.enfantName }}</h2>

<!-- BODY -->
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" id="ngForm" (ngSubmit)="onSubmit()">
    <!-- SEARCH FIELD -->
    <div [hidden]="showForm">
      <mat-form-field class="example-full-width w-full">
        <mat-label>Guardian's name</mat-label>
        <input
          type="text"
          placeholder="Start typing a guardian's name"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />

        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="OnGuardianSelected($event.option)"
        >
          <mat-option
            *ngFor="let guardian of filteredGuardians | async"
            [value]="guardian"
          >
            {{ guardians && guardian.name ? guardian.name : guardian }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- CREATE GUARDIAN FORM  -->
    <div [hidden]="!showForm">
      <div class="grid grid-cols-2 gap-2">
        <mat-form-field
          [appearance]="!!isCreatingGuardian ? 'outline' : 'standard'"
        >
          <mat-label>First name</mat-label>
          <input
            formControlName="firstName"
            matInput
            placeholder="First name"
          />
        </mat-form-field>

        <mat-form-field
          [appearance]="!!isCreatingGuardian ? 'outline' : 'standard'"
        >
          <mat-label>Last name</mat-label>
          <input formControlName="lastName" matInput placeholder="Last name" />
        </mat-form-field>
      </div>

      <mat-form-field
        class="w-full"
        *ngIf="!authService.isUserInRole('tutor')"
        [appearance]="!!isCreatingGuardian ? 'outline' : 'standard'"
      >
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email" />
      </mat-form-field>

      <mat-form-field
        class="w-full"
        [appearance]="!!isCreatingGuardian ? 'outline' : 'standard'"
      >
        <mat-label>Relation</mat-label>
        <input formControlName="relation" matInput placeholder="Relation" />
      </mat-form-field>

      <!-- {{this.isCreatingGuardian}}
      {{this.data.editingRelation}} -->
      <p
        *ngIf="
          !this.data.editingRelation &&
          this.isCreatingGuardian &&
          !authService.isUserInRole('tutor')
        "
      >
        <mat-checkbox formControlName="HasAnAccount"
          >Will have an account
        </mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="emergencyContact"
          >Contact for emergency</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox formControlName="authorizePickup"
          >Authorized to pick up the child</mat-checkbox
        >
      </p>
    </div>
  </form>
</mat-dialog-content>

<!-- FOOTER -->
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    type="submit"
    mat-button
    class="btn-primary"
    cdkFocusInitial
    form="ngForm"
    *ngIf="showForm"
    valid
  >
    {{ isCreatingGuardian ? "Create" : "Assign" }}
  </button>
</mat-dialog-actions>
