<div class="flex items-center gap-3 mb-3">
  <h1 class="m-0">Photos</h1>
  <input
    #fileuploadprogress
    (change)="onFileChange($event)"
    (click)="setNull()"
    hidden
    multiple
    type="file"
    name="image"
    accept="image/*"
  />
  <button
  *ngIf="!this.authService.isUserInRole('tutor')"
    (click)="fileuploadprogress.click()"
    class="button"
    mat-mini-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon>add_a_photo</mat-icon>
  </button>
</div>

<div class="content-container ">
  <ul class="flex flex-wrap justify-start gap-3">
    <li class="basis-[230px] h-[230px] flex justify-center items-center" *ngFor="let img of images;let i = index" (click)="openImagePreview(i,images)">

      <mat-spinner *ngIf="img.isLoading"></mat-spinner>
      <img
      [hidden]="img.isLoading"
      (load)="onLoad(i)"
        [src]="
        envUrls.urlAdressPhoto+img?.id
            | picture
            | async
        "
        alt="image"
        class="w-full h-full object-cover align-middle rounded-md"
      />
    </li>
  </ul>
</div>
