<h1 mat-dialog-title>Notifications</h1>
<div mat-dialog-content class="w-[460px] h-[400px] ">
  <mat-card class="pb-0 mb-2">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-icon mat-card-avatar class="">home</mat-icon>
      <mat-card-title>New journal for Zoe Labelle</mat-card-title>
      <mat-card-subtitle>4 hours ago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="pb-0 mb-2">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-icon mat-card-avatar class="">home</mat-icon>
      <mat-card-title>New journal for Zoe Labelle</mat-card-title>
      <mat-card-subtitle>4 hours ago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="pb-0 mb-2">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-icon mat-card-avatar class="">home</mat-icon>
      <mat-card-title>New journal for Zoe Labelle</mat-card-title>
      <mat-card-subtitle>4 hours ago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="pb-0 mb-2">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-icon mat-card-avatar class="">home</mat-icon>
      <mat-card-title>New journal for Zoe Labelle</mat-card-title>
      <mat-card-subtitle>4 hours ago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="pb-0 mb-2">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-icon mat-card-avatar class="">home</mat-icon>
      <mat-card-title>New journal for Zoe Labelle</mat-card-title>
      <mat-card-subtitle>4 hours ago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="pb-0 mb-2">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-icon mat-card-avatar class="">home</mat-icon>
      <mat-card-title>New journal for Zoe Labelle</mat-card-title>
      <mat-card-subtitle>4 hours ago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="pb-0 mb-2">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-icon mat-card-avatar class="">home</mat-icon>
      <mat-card-title>New journal for Zoe Labelle</mat-card-title>
      <mat-card-subtitle>4 hours ago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="pb-0 mb-2">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-icon mat-card-avatar class="">home</mat-icon>
      <mat-card-title>New journal for Zoe Labelle</mat-card-title>
      <mat-card-subtitle>4 hours ago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="pb-0 mb-2">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-icon mat-card-avatar class="">home</mat-icon>
      <mat-card-title>New journal for Zoe Labelle</mat-card-title>
      <mat-card-subtitle>4 hours ago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="pb-0 mb-2">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-icon mat-card-avatar class="">home</mat-icon>
      <mat-card-title>New journal for Zoe Labelle</mat-card-title>
      <mat-card-subtitle>4 hours ago</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>