<h1 mat-dialog-title>Notifications</h1>
<div mat-dialog-content class="w-[460px] h-[400px]">
  <div *ngIf="this.data.notifications.length == 0; else noNotification">
    No notifications
  </div>

  <ng-template #noNotification >
   
    <mat-card (click)="onNotifClick(notif,i)" mat-dialog-close *ngFor="let notif of this.data.notifications;let i = index" class="cursor-pointer pb-0 mb-2 " >
      <mat-card-header >
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-icon
          mat-card-avatar
          class="bg-white text-center"
          >{{getIcon(notif.notificationType)}}</mat-icon
        >

        <mat-card-title class="min-w-[254px]">{{
          notif.message
        }}</mat-card-title>
        <span
          *ngIf="!notif.seen"
          class="bg-red-600 rounded-md h-min py-1 px-2 text-white"
          >New</span
        >
        <mat-card-subtitle>{{ notif.createdAt | dateAsAgo }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </ng-template>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>
