<div
  class="w-[800px] h-[700px] flex items-center justify-center bg-gray-200 relative"
>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <img
    [hidden]="loading"
    (load)="onLoad()"
    alt="image"
    [src]="
      envUrls.urlAdressPhoto + this.data.images[this.index]?.id
        | picture
        | async
    "
    class="max-h-full max-w-full mx-auto"
  />

  <button
    class="left-button"
    mat-fab
    color="accent"
    *ngIf="!isFirstImage()"
    (click)="previousImage()"
    aria-label="Example icon button with a bookmark icon"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button
    class="right-button"
    mat-fab
    color="accent"
    *ngIf="!isLastImage()"
    (click)="nextImage()"
    aria-label="Example icon button with a bookmark icon"
  >
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>

<mat-dialog-actions align="center">
  <h1>{{ this.data.images[this.index].description }}</h1>
</mat-dialog-actions>
